<h1><%= @user.name %></h1>

<h2>Hosted Events</h2>

<div class="<%= @user.name%>_hosted_events">
  <%= @user.hosted_events.each do |event| %>
    <div class="<%= @user.name%>_hosted_event">
      <h3><%= event.title %></h3>
      <p><%= event.date %></p>
      <p><%= event.location %></p>
    </div>
</div>
